/* ------------------------------------------------------
        TABLE OF CONTENTS
  ------------------------------------
    01: Color and font variables
    02: Global styles
    03: Generic selectors
    04: Header and Nav
    05: Footer
    xx: Home page
        xx.1 Hero section
        xx.2 Collections
        xx.3 Subscriptions
    xx: About page
    xx: Occasions page
    xx: Flowers page
    xx: Plants page
    xx: Weddings/Events page
    xx: Subscriptions page
    xx: My account page
    xx: Shopping cart page
    xx: Footer
    xx: Media queries
        16.1 tablet
            16.1.a About page
            16.1.b Occasions page
            etc
        16.2 large screen
        16.3 very large screen
        16.4 Layouts
            16.4.a two column
            16.4.b three column


------------------------------------------------------
*/




/* ------------------------------------------------------
        COLOR AND FONT VARIABLES
-------------------------------------------------------*/

/* Colors - variables */
:root {
    --bg-light-pink: #fffafb;
    --bg-dark-pink: #fae9e8;
    --bg-btn-main: #8ea960;
    --bg-btn-alternate: #fffafb;
}
/* Fonts - variables */
:root {
    --heading-font: "Cormorant Garamond", serif;
    --body-font: "Khula", sans-serif;
    --btn-font: "Cormorant Garamond", serif;
}

/* Styling variables */
:root {
    --border-radius: 6px;
}

/* ------------------------------------------------------
        GLOBAL STYLES
-------------------------------------------------------*/

html { font-size: 10px; }
body {
    font-family: var(--body-font, "Open Sans");
}
h1 {
    font: 700 3.1rem var(--heading-font);
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font: 700 2.8rem var(--heading-font);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}
h3 {
    font: 700 2.5rem var(--heading-font);
    text-transform: uppercase;
    line-height: 1.5;
    margin-left: 1em;
}
h4 {

}
p {
    font: 2rem var(--body-font);
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    margin: 1em .5em;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}
a {
    text-decoration: none;
    color: black;
}

/* ------------------------------------------------------
        GENERIC SELECTORS
-------------------------------------------------------*/
.btn {
    font: 700 1.6rem var(--btn-font);
    color: black;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--bg-btn-main);
    width: 25.7rem;
    height: 4rem;
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
}

img.logo {
    height: 130px;
    margin: 1em;
    box-shadow: -5px 5px 4px var(--bg-dark-pink);
}

.current {
    /* add "current page" styling here */
}

.intro {
    background-color: var(--bg-dark-pink);
    text-align: center;
    padding: 5rem 2rem;
}


/* ------------------------------------------------------
        HEADER AND NAV
-------------------------------------------------------*/

header {
    background: url(../images/backgroundSmall.jpg) repeat;
    position: relative;
    height: 150px;
}

/* Hamburger Nav Bar */
nav ul {
    font: small-caps bold 1.8rem var(--heading-font);
}

.hamburger-menu {
  display: none;
  padding: 2em;
  background-color: var(--bg-dark-pink);
}

.hamburger-menu ul li a {
  background-color: var(--bg-light-pink);
  text-align: center;
  border-bottom: solid 1px #fae9e8;
  display: block;
  padding: .6em;
}

.showNav {
    cursor: pointer;
    font-size: 2.5rem;
    position: absolute;
    top: 60px;
    right: 50px;
}
.closeNav {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  color: black;
  font-size: 30px;
}

/* Need to specify colors here : */
a:link {
    color: black;
}
a:visited { }
a:hover {
    cursor: pointer;
}
a:active { }


/* ------------------------------------------------------
        FOOTER
-------------------------------------------------------*/
footer {
    background: url(../images/backgroundSmall.jpg) repeat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px;
}

footer p {
    font-size: 1.2rem;
    line-height: 0;
    margin: 0;
    padding: .6em;
}

footer i {
    color: black;
}

.info {
    grid-area: 1/ 1 / 2 / 3;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.info a {
    padding: 0 10px;
    font-size: 1.2rem;
}

.text {
    grid-area: 2/ 1/ 3/ 2;
    margin-left: .3em;
}

.icons {
    grid-area: 2/ 2/ 3 / 3;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

.logoPlacement {
    grid-area: 1/ 3/ 3/ 4;
    justify-self: flex-end;
    align-self: flex-end;
}

.logoPlacement .logo{
    height: 80px;
    box-shadow: 5px 5px 4px var(--bg-dark-pink);
    margin: .5em 1.5em;
}

/* ------------------------------------------------------
        HOME PAGE CONTENT
-------------------------------------------------------*/

.homePage {
    background-color: var(--bg-dark-pink);
}
.title {
    height: 20%;
}
h1.fadeIn {
    color: var(--bg-btn-main);
    font-family: 'Parisienne';
    text-transform: none;
    padding: 1em 0;
    display: none;
}
h1 span {
    font-family: 'Jacques Francois';
    text-shadow: -2px 2px 2px var(--bg-light-pink);
}
.hero h2 {
    margin-bottom: .4em;
}
.collections {
    background-color: var(--bg-light-pink);
    padding: 5rem 0;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
}
.homePage h2 {
    width: 100%;
}
.collections figure {
    max-width: 45%;
    margin: .5em 0;
}

figcaption {
    text-align: center;
    font-size: 1.6rem;
    font-family: var(--heading-font);
}
.collections a.btn, .subs a.btn, .hero a.btn {
    margin-top: 2em;
}

.subs article, .hero article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 85%;
    margin: auto;
    padding: 5rem 0;
}




/* ------------------------------------------------------
        ACCOUNT PAGE CONTENT
-------------------------------------------------------*/

.accountPage {
    background-color: var(--bg-dark-pink);
    padding: 0 0 3em 0;
    width: 100%;
}
p#name {
    font-weight: 700;
    padding: 1em 0 0 1em;
}

.btnAccount {
    font: 700 1.6rem var(--btn-font);
    color: black;
    text-transform: uppercase;
    background-color: var(--bg-btn-alternate);
    width: 25.7rem;
    height: 4rem;
    padding: 1rem 1.2rem;
    border-radius: .6rem;
}

.showcase {

}

.container {
    background-color: var(--bg-light-pink);
    width: 80%;
    margin: auto;
    border-radius: 6px;
    padding-bottom: 2em;
}

.accountLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 10%;
    padding-top: 5em;
}


.order {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order p {
    padding: 0 0 0 1em;
    margin: 0;
}

.order img {
    text-align: center;
    margin: auto;
    padding: 2em;
}

/* ------------------------------------------------------
        SUBSCRIPTION PAGE CONTENT
-------------------------------------------------------*/

#subIntro, #subHow {
    background-color: var(--bg-dark-pink);
    padding: 4em 2.5em;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#subOptions {
    background-color: var(--bg-light-pink);
    padding: 4em 1em;
}

/* ------------------------------------------------------
        ABOUT PAGE CONTENT
-------------------------------------------------------*/

.project {
    background-color: var(--bg-light-pink);
    text-align: center;
    padding: 5rem 2rem;
}



/* ------------------------------------------------------
        EVENT PAGE CONTENT
-------------------------------------------------------*/



/* ------------------------------------------------------
        MEDIA QUERIES
-------------------------------------------------------*/

/* FOR HAMBURGER MENU AT MOBILE VIEW */
@media screen and (max-width: 700px) {
  .header-open ul {
      display: none;
  }
    /* > is a child selector that selects DIRECT child elements of a specified parent*/
  .header-open > a {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    font-size: 30px;
  }
  .hamburger-menu.active {
      display: block;
  }
}




@media only screen and (min-width: 700px) {
/* NAV BAR AT FULL SCREEN */
 .header-open {
    width: 90%;
}
header {
    display: flex;
    align-items: flex-end;
}
.header-open ul {
    display: flex;
    justify-content: space-evenly;
}
.header-open ul li {
    line-height: .8em;
    padding: 8px 0;
}
.showNav {
    display: none;
}
}