/* ------------------------------------------------------
        TABLE OF CONTENTS
  ------------------------------------
    01: Color and font variables
    02: Global styles
    03: Generic selectors
    04: Header and Nav
    05: Footer
    xx: Home page
        xx.1 Hero section
        xx.2 Collections
        xx.3 Subscriptions
    xx: About page
    xx: Occasions page
    xx: Flowers page
    xx: Plants page
    xx: Weddings/Events page
    xx: Subscriptions page
    xx: My account page
    xx: Shopping cart page
    xx: Footer
    xx: Media queries
        16.1 tablet
            16.1.a About page
            16.1.b Occasions page
            etc
        16.2 large screen
        16.3 very large screen
        16.4 Layouts
            16.4.a two column
            16.4.b three column


------------------------------------------------------
*/




/* ------------------------------------------------------
        COLOR AND FONT VARIABLES
-------------------------------------------------------*/

/* Colors - variables */
:root {
    --bg-light-pink: #fffafb;
    --bg-dark-pink: #fae9e8;
    --bg-btn-main: #8ea960;
    --bg-btn-alternate: #fffafb;
    --bg-text: black;
    

/* Fonts - variables */

    --heading-font: "Cormorant Garamond", serif;
    --body-font: "Khula", sans-serif;
    --btn-font: "Cormorant Garamond", serif;


/* Typography - variables */

    --fs-32: 32px;
    --fs-20: 20px;
    --fs-16: 16px;
    --fs-12: 12px;
    --fs-10: 10px;
    
    --fw-4: 400;
    --fw-7: 700;

/* Others - variables */
    --px: 24px;
    --radius: 6px;
    
}

/* ------------------------------------------------------
        RESET
-------------------------------------------------------*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ion-icon, span {display: inline-block;}
lable, img {display: block;}
input{
    font: inherit;
    border: none;
}

input:focus { outline: 2px solid var(--bg-light-pink);}

/* Remove number input up & down button */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance:         none;
    -webkit-appearance: none;
    margin: 0;
}

/* Custom scrollbar style */
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{ background: hsl(0, 0%, 70%)} 


/* ------------------------------------------------------
        GLOBAL STYLES
-------------------------------------------------------*/

html { font-size: 10px; }
body {
    font-family: var(--body-font, "Open Sans");
    background-color: var(--bg-dark-pink);
}
h1 {
    font: 700 3.3rem var(--heading-font);
    text-transform: uppercase;
    text-align: center;
    margin-top: var(--px);
}
h2 {
    font: 400 2.6rem var(--heading-font);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}
h3 {
    font: 700 2.6rem var(--heading-font);
    text-transform: uppercase;
    line-height: 1.5;
    margin-left: 1em;
}

h4 {
    font: 400 2.5rem var(--heading-font);
    line-height: 1.5;
   
}

p {
    font: 2rem var(--body-font);
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    margin: 1em 1.5em;
}
img {
    max-width: 100%;
    height: auto;
   
}
a {
    text-decoration: none;
    color: black;
}
/* ------------------------------------------------------
        GENERIC SELECTORS
-------------------------------------------------------*/
.btn {
    font: 700 1.6rem var(--btn-font);
    color: black;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--bg-btn-main);
    width: 25.7rem;
    height: 4rem;
    padding: 1rem 1.2rem;
    border-radius: var( --radius);
    border: none;
    cursor: pointer;
}

img.logo {
    height: 80px;
    width: auto;
    margin: 1em;
}

.current {
    /* add "current page" styling here */
}


/* ------------------------------------------------------
        HEADER AND NAV
-------------------------------------------------------*/

header {
    background: url(../images/cover-rose.jpeg) repeat;
    background-size: cover;
    position: relative;
    height: 100px;
}


header::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.8); /* Adjusted  paleness */
    z-index: 1;
}

nav {
    position: relative;
    z-index: 2; /* Made the navigation text visible on top of the background color image with roses*/
}

/* toggle navigation */
nav ul.navBar {
    font: small-caps bold 1.8rem var(--heading-font);
    display: none;
}
.hide {
    display: none;
}

nav li {
    background-color: var(--bg-light-pink);
    text-align: center;
    border-bottom: solid 1px #fae9e8;
}

/* This is a decendent selector */
nav li:first-child {
    border-top: solid 1px #fae9e8; 
}

nav a {
    display: block;
    padding: .6em;
}

.showNavBar {
    cursor: pointer;
    font-size: 2.5rem;
    position: absolute;
    top: 60px;
    right: 30px;
}

/* This is a checked pseudo-class selector - it looks for the checkbox and sees if it's checked. If it is, it will target the next direct sibling (ul with a class of navBar) and open it up. */
nav input[type=checkbox]:checked ~ ul.navBar {
    display: block;
}
nav input[type=checkbox] {
    display: none;
}

/* Need to specify colors here : */
a:link {
    color: black;
}
a:visited { }
a:hover { 
    cursor: pointer;
}
a:active { }


/* ------------------------------------------------------
        FOOTER
-------------------------------------------------------*/
footer {
  background: url(../images/cover-rose.jpeg) repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 50px;
    
    position: relative;
    height: 100px;
}


footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Adjusted  paleness */
    z-index: 1;
}


footer p {
    font-size: 1rem;
    line-height: 0;
    margin: 0;
    padding: .6em;
    
    position: relative;
    z-index: 2; /* Made the navigation text visible on top of the background color image with roses*/
}

footer i {
    color: black;
    position: relative;
    z-index: 2; /* Made the navigation text visible on top of the background color image with roses*/
}

.info {
    grid-area: 1/ 1 / 2 / 3;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}
.info a {
    padding: 0 10px;
    position: relative;
    z-index: 2; /* Made text visible on top of the background color image with roses*/
}

.text {
    grid-area: 2/ 1/ 3/ 2;
    margin-left: 1.5em;
    
}

.icons {
    grid-area: 2/ 2/ 3 / 3;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
    align-self: center; 
}

.logoPlacement {
    grid-area: 1/ 3/ 3/ 4;
    justify-self: flex-end;
    align-self: flex-end;
    position: relative;
    z-index: 2; /* Made text visible on top of the background color image with roses*/
}
.logoPlacement .logo{
    height: 65px;
    margin-right: 1.5em;
   
}

/* ------------------------------------------------------
        HOME PAGE CONTENT
-------------------------------------------------------*/

.hero {
    background-color: var(--bg-dark-pink);
    text-align: center;
    padding: 5rem 2rem;
}

.collections {
    background-color: var(--bg-light-pink);
    text-align: center;
    padding: 5rem 2rem;
}

.subs {
    background-color: var(--bg-dark-pink);
    text-align: center;
    padding: 5rem 2rem;
}


/* ------------------------------------------------------
        ACCOUNT PAGE CONTENT
-------------------------------------------------------*/

p#name {
    font-weight: 700;
    padding: 1em 0 0 1em;
}

.btnAccount {
    font: 700 1.6rem var(--btn-font);
    color: black;
    text-transform: uppercase;
    background-color: var(--bg-btn-alternate);
    width: 25.7rem;
    height: 4rem;
    padding: 1rem 1.2rem;
    border-radius: .6rem;
}

.container {
    width: 80%;
    margin: auto;
    border-radius: 6px;
    padding-bottom: 2em;
}

.accountLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 10%;
    padding-top: 5em;
}

.accountPage {
    background-color: var(--bg-dark-pink);
    padding-bottom: 3em;
}

.order p {
    padding: 0 0 0 1em;
    margin: 0;
}

.order img {
    margin: 0;
    padding: 2em;
}

/* ------------------------------------------------------
        SUBSCRIPTION PAGE CONTENT
-------------------------------------------------------*/

#subIntro, #subHow {
    background-color: var(--bg-dark-pink);
    padding: 4em 2.5em;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#subOptions {
    background-color: var(--bg-light-pink);
    padding: 4em 1em;
}


/* ------------------------------------------------------
        SHOPPING CART PAGE CONTENT
-------------------------------------------------------*/
 /* main container */
main {
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

main h1 {
    text-align: center;
    border-bottom: 1px solid var(--bg-btn-main);
    padding: 20px var(--px);
}

main h2 {
    margin-bottom: 1.5rem;
}

/* cart section style */
.cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: var(--px);
}
.cart-item-box {
    padding: 0 20px var(--px);
}

.product-card { 
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.product-img { 
    margin-right: 4rem;
    width: 150px;
    border-radius: var(--radius);
}

.detail  {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    gap: 10px;
}

.price {
    font-size: 18px;
    margin-top: 10px;
}

.product-qty {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.product-qty button {
    background: var(--bg-btn-alternate);
    border-radius: var(--radius);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.product-close-btn {
    background: var(--bg-btn-alternate);
    color: red;  
    border-radius: var(--radius);
}

.product-close-btn ion-icon {
    font-size: 20px;  
}

.product-close-btn:hover ion-icon { color: black;}

.wrapper {
    padding: 20px var(--px);
    border-top: 1px solid var(--bg-btn-main);
    border-bottom: 1px solid var(--bg-btn-main);
}

.wrapper-flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-default {
    padding: 12px 40px;
    width: 100%;
    font-weight: var(--fw-7);
    letter-spacing: 2px;
}

.btn-outline {
    background: var(--bg-btn-alternate);
    padding: 10px 25px;
    border: 1px solid black;
    color: var(--bg-text);
}

.btn-outline:hover {
    background: var(--bg-btn-main);
    color: var(--bg-text);
}

.amount > div {
    display: flex;
    justify-content: space-between;
}

.amount > div:not(:last-child) {margin-bottom: 10px;}

.amount .total {
    font-size: var(--fs-20);
    font-weight: var(--fw-7);
    color: brown;
}


 /* checkout section style */
.checkout {
   /* width: 70%;*/
    padding: 25px var(--px);
    /*border-top: 1px solid var(--bg-btn-main);*/
}

.section-heading {
    color: var(--bg-text);
    margin-bottom: 30px;
    font-size: var(--fs-20);
    font-weight: var(--fw-4);
}

.payment-form { margin-bottom: 40px;}

.payment-method {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*align-items: center;
    gap: 30px;*/
    margin-bottom: 30px;
}

.payment-method .method {
    border: 1px solid var(--bg-text);
    border-radius: var(--radius);
   
    display: flex;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 15px;
    gap: 20px;
    cursor: pointer;
}

.payment-method .selected { border-color: var(--bg-btn-main);}

.payment-method .method ion-icon {font-size: 30px;}

.payment-method .method .checkmark {
    margin-left: auto;
    color: var(--bg-text);
}

.payment-method .method .fill { color: var(--bg-btn-main);}

.label-default {
    display: flex;
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: var(--fs-16);
    color: var(--bg-text);  
}

.input-default {
    background: var(--bg-light-pink);
    border-radius: var(--radius);
    color: var(--bg-text);
    margin-bottom: 15px;
}

.payment-form input{
    width: 100%;
    padding: 10px 15px;
    font-size: var(--fs-16);
    font-weight: var(--fw-4);
}

/*.cardholder-name,
.card-number {margin-bottom: 20px;}*/

/*.card-number input,
.cvv input { letter-spacing: 3px;}*/

/*.input-flex {
    display: flex;
    align-items: center;
    gap: 30px;
}*/

.input-flex .expire-date,
.input-flex .cvv { width: 100%;}

.expire-date .input-flex {
    display: flex;
    align-items: baseline;
    width: 100%;
    font-size: var(--fs-20);
    color: var(--bg-text);
    gap: 10px; 
}

/*.expire-date .input-flex input { /*text-align: center;*/ /*flex-direction: row;}*/

.btn { border-radius: var(--radius); }
 
.btn:active { transform: scale(1.1);}

.btn:focus {
    color: var(--bg-text);
    background: var(--bg-btn-alternate);
    outline: 2px solid var(--bg-btn-alternate);
    outline-offset: 2px;
}

.btn-primary {
    background: var(--bg-btn-main);
    font-weight: var(--fw-7);
    color: var(--bg-text);
    padding: 1rem 1.2rem;
    width: 100%;
}

.btn-primary b {margin-right: 10px;}

 

/* ------------------------------------------------------
        MEDIA QUERIES
-------------------------------------------------------*/


@media only screen and (min-width: 700px) {
/* NAV BAR */
      header {
          display: flex;
          align-items: flex-end;
    }
    nav ul.navBar {
        display: flex;
    }
    .hide {
    display: flex;
}
    .showNavBar {
        display: none;
    }
    nav li {
        background: none;
    }
  
}







